In [1]:
import pandas as pd
import csv
import os
import numpy as np
import datetime
import time
import matplotlib.pyplot as plt
Working_dir = os.getcwd()

In [38]:
res = pd.read_excel( os.path.join( Working_dir, "Transformer load profiles.xlsx" ),skiprows=2 )
res.drop(res.columns[0],axis=1,inplace=True)

In [44]:
res.columns.values[0]='hour'

res.head()

   hour          0        0.1        0.2        0.3        0.4
0     1  17.988825  17.988825  17.988825  17.988825  17.988825
1     2  17.854960  17.854960  17.854960  17.854960  17.854960
2     3  15.955075  15.955075  15.955075  15.955075  15.955075
3     4  16.282195  16.282195  16.282195  16.282195  16.282195
4     5  13.489930  13.489930  13.489930  13.489930  13.489930

-----------
Data analysis: when generation rate is different for columns

Negative generation rates mean that PV needed power itself?

Anyway, they will not affect the result since a formula below contains squares

In [67]:
print(res[res.ix[:,1]!=res.ix[:,2]])

      hour          0        0.1        0.2        0.3        0.4
1426  1427  14.622412  14.617737  14.613062  14.608387  14.603713
1427  1428  15.481214  15.476482  15.471750  15.467018  15.462286
1428  1429  15.421773  15.415007  15.408241  15.401474  15.394708
1429  1430  17.314813  17.311129  17.307444  17.303759  17.300075
1430  1431  16.096731  16.091272  16.085814  16.080355  16.074896
1431  1432  16.331657  16.324400  16.317142  16.309885  16.302628
1432  1433  15.465663  15.431731  15.397801  15.363873  15.329948
1433  1434  22.346143  22.344896  22.343648  22.342401  22.341154
1448  1449  17.265200  17.262655  17.260110  17.257566  17.255021
1449  1450   6.616222   6.566268   6.516319   6.466375   6.416436
1450  1451   7.750975   7.306732   6.862900   6.419478   5.976465
1451  1452  12.605895  11.758168  10.911933  10.067183   9.223914
1452  1453  26.796798  25.685652  24.577043  23.470961  22.367396
1453  1454  23.710359  22.468102  21.229020  19.993098  18.760324
1454  1455  20.226567  17.092332  13.978302  10.884245   7.809934
1455  1456  19.373037  17.835814  16.303469  14.775972  13.253298
1456  1457  20.960684  20.613441  20.266449  19.919706  19.573212
1457  1458  22.052361  22.052174  22.051987  22.051800  22.051613
1471  1472  20.020539  20.019219  20.017900  20.016580  20.015260
1472  1473  17.014856  16.594213  16.173937  15.754027  15.334482
1473  1474  17.854514  16.219067  14.589150  12.964732  11.345777
1474  1475  18.191101  14.834284  11.500654   8.189923   4.901812
1475  1476  19.143499  14.631635  10.161644   5.732836   1.344532
1476  1477  19.708996  14.246642   8.845466   3.504248  -1.778200
1477  1478  15.201198   8.461748   1.815513  -4.739804 -11.206432
1478  1479  15.921050  11.074097   6.275483   1.524345  -3.180159
1479  1480  17.161207  12.933424   8.742439   4.587682   0.468591
1480  1481  15.660208  13.135080  10.623124   8.124217   5.638239
1481  1482  22.697963  22.567125  22.436321  22.305553  22.174820
1495  1496  16.692710  16.689671  16.686631  16.683591  16.680551
...    ...        ...        ...        ...        ...        ...
7860  7861  10.275835   9.899462   9.523384   9.147600   8.772111
7861  7862  11.132202  11.061223  10.990254  10.919295  10.848347
7862  7863  13.730248  13.728884  13.727520  13.726155  13.724791
7881  7882  18.460784  18.458011  18.455237  18.452464  18.449690
7882  7883  18.096183  18.090481  18.084780  18.079079  18.073378
7883  7884  17.570567  17.564268  17.557970  17.551671  17.545373
7884  7885  15.510708  15.501920  15.493132  15.484345  15.475557
7885  7886  15.034151  14.940414  14.846696  14.752995  14.659313
7905  7906  21.595556  21.594423  21.593290  21.592157  21.591024
7906  7907  21.636214  21.631976  21.627739  21.623501  21.619264
7907  7908  20.671394  20.665647  20.659900  20.654153  20.648406
7908  7909  20.404417  20.399156  20.393896  20.388636  20.383376
7909  7910  20.160818  20.158814  20.156809  20.154805  20.152801
7929  7930  16.864759  16.860439  16.856118  16.851798  16.847477
7930  7931  14.909791  14.906235  14.902679  14.899123  14.895567
7931  7932  14.593427  14.586305  14.579182  14.572060  14.564938
7932  7933  13.319046  13.070379  12.821840  12.573430  12.325149
7933  7934  15.787100  15.318323  14.850002  14.382136  13.914724
7934  7935  16.920595  16.880601  16.840611  16.800624  16.760641
7953  7954  19.045189  19.043966  19.042743  19.041521  19.040298
7954  7955  20.528713  20.523261  20.517810  20.512359  20.506907
7955  7956  25.312448  25.305297  25.298146  25.290996  25.283845
7956  7957  19.984584  19.980226  19.975867  19.971509  19.967151
7957  7958  16.019049  16.017894  16.016738  16.015583  16.014428
7978  7979  20.951954  20.942863  20.933773  20.924682  20.915592
7979  7980  20.235437  20.115569  19.995731  19.875923  19.756144
7980  7981  20.540982  19.620148  18.701071  17.783743  16.868160
7981  7982  19.428024  18.082194  16.740115  15.401769  14.067138
7982  7983  19.173256  19.103477  19.033708  18.963949  18.894200
8004  8005  15.576537  15.572209  15.567882  15.563555  15.559227

[3716 rows x 6 columns]

------
Hours in a year (TH)

In [45]:
TH = res.iloc[:,0].max()
print("TH = ", TH)

TH =  8760

--------
Peak load of average loads

In [43]:
peak = res.iloc[:,1].max()
print("Peak avg load (kW) = ", peak)

Peak avg load (kW) =  36.1969245143

-----------
Annual no load loss (kWh) = No load loss (kW) * TH (h)

Statistics taken for a threeâ€“phase dry-type medium power transformer

No load loss = 280 W

In [46]:
no_load_loss = 0.28 * TH
print("Annual no load loss (kWh) = ", no_load_loss)

Annual no load loss (kWh) =  2452.8

------------
Annual load loss (kWh) = Load loss (kW) \* (load percent/100) \* TH (h) * LLF

$LLF = \sum_{n=1}^{TH} \frac{(Load_n)^2}{(Peak_load)^2} / TH$

Load loss = 2.05 kW from the requirements document

In [69]:
LLF_10 = sum( res.ix[:,1].apply(lambda x: x**2/peak**2 ))/TH
print( "LLF (10%) = ", LLF_10)

LLF_20 = sum( res.ix[:,2].apply(lambda x: x**2/peak**2 ))/TH
print( "LLF (20%) = ", LLF_20)

LLF_30 = sum( res.ix[:,3].apply(lambda x: x**2/peak**2 ))/TH
print( "LLF (30%) = ", LLF_30)

LLF_40 = sum( res.ix[:,4].apply(lambda x: x**2/peak**2 ))/TH
print( "LLF (40%) = ", LLF_40)

LLF (10%) =  0.166883028699
LLF (20%) =  0.154372050224
LLF (30%) =  0.154973470451
LLF (40%) =  0.16805669561

-------
Annual load loss (kWh) for 10% load

In [ ]:
loss = 2.05
load_loss_10 = loss * 0.1 * TH #* LLF_10
load_loss_20 = loss * 0.2 * TH #* LLF_20
load_loss_30 = loss * 0.3 * TH #* LLF_30
load_loss_40 = loss * 0.4 * TH #* LLF_40
res.ix[res.shape[0]]  = ["loss", no_load_loss, load_loss_10, load_loss_20, load_loss_30, load_loss_40]

In [93]:
print("Losses (kWh)\nno load: ", no_load_loss,"\n10% load: ", load_loss_10)
print("20% load: ", load_loss_20)
print("30% load: ", load_loss_30)
print("40% load: ", load_loss_40)

Losses (kWh)
no load:  2452.8
10% load:  1795.8
20% load:  3591.6
30% load:  5387.4
40% load:  7183.2